body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

body .invisible-inputs {
  display: none;
}

.top {
  width: 100%;
  height: 43.75px;
  background-color: #18181b;
}

.top .top-content {
  width: 100%;
  height: calc(100% - 1px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom {
  width: 100%;
  height: calc(100% - 43.75px);
  background-color: #18181b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom .rooms {
  height: 100%;
  min-width: 20%;
  max-width: 50%;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #18181b;
}

.bottom .rooms input {
  display: none;
}

.bottom .rooms .threads {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: sans-serif;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom .rooms .threads .thread-left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom .rooms .threads .thread-left .thread-img img {
  border-radius: 100%;
}

.bottom .rooms .threads .thread-right {
  width: calc(100% - 80px);
  height: 100%;
  color: white;
}

.bottom .rooms .threads .thread-right .thread-top {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom .rooms .threads .thread-right .thread-bottom {
  width: 100%;
  height: 50%;
}

.bottom .rooms .threads .thread-right .thread-bottom .thread-last-message {
  width: 100%;
  font-size: 11px;
  color: #7f7d7d;
}

.bottom .rooms .threads .thread-right .thread-adder {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom .rooms .threads:hover {
  background-color: #212124;
}

.bottom .rooms .threads:active {
  background-color: #2d2d30;
}

.bottom .rooms input:checked + label .threads {
  cursor: default;
  background-color: #2a2a2f;
  pointer-events: none;
}

.bottom .chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: calc(80% - 1px);
}

.bottom .chat .spacer {
  height: 100%;
  width: 5%;
}

.bottom .chat iframe {
  width: 100%;
  height: 100%;
}

.login-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  background-color: #0000006b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-container .login-prompt {
  width: 30%;
  height: 250px;
  border-radius: 25px;
  background-color: #2d2d2d;
}

.login-container .login-prompt .login-prompt-top {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-container .login-prompt .login-prompt-top input {
  display: none;
}

.login-container .login-prompt .login-prompt-top .devider {
  height: 70%;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.login-container .login-prompt .login-prompt-top label {
  height: 70%;
}

.login-container .login-prompt .login-prompt-top label .prompt-button {
  width: 70px;
  height: 100%;
  background-color: #2d2d2d;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: sans-serif;
  color: white;
  cursor: pointer;
}

.login-container .login-prompt .login-prompt-top label .login {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.login-container .login-prompt .login-prompt-top label .guess {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.login-container .login-prompt .login-prompt-top input:checked + label .prompt-button {
  border-bottom: 1px solid #2d2d2d;
  cursor: default;
}

.login-container .login-prompt .login-prompt-bottom .prompt-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

.login-container .login-prompt .login-prompt-bottom .prompt-form .text-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin-left: 5%;
}

.login-container .login-prompt .login-prompt-bottom .prompt-form .text-input input {
  margin-bottom: 10px;
  background-color: #282828;
  border: transparent solid 1px;
  color: white;
}

.login-container .login-prompt .login-prompt-bottom .prompt-form .sign {
  color: #717171;
  font-size: 10px;
}

.login-container .login-prompt .login-prompt-bottom .prompt-form .color-input-and-button {
  margin-left: 5%;
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .login-prompt .login-prompt-bottom .prompt-form .color-input-and-button input {
  background-color: #282828;
  border: transparent;
  height: 30px;
  cursor: pointer;
}

.login-container .login-prompt .login-prompt-bottom .prompt-form .color-input-and-button .devider {
  width: 100%;
}

.login-container .login-prompt .login-prompt-bottom .prompt-form .color-input-and-button button {
  height: 30px;
  width: 70px;
  border: transparent solid;
  border-radius: 5px;
  cursor: pointer;
}

.login-container .login-prompt .login-prompt-bottom .prompt-form .color-input-and-button .create-button {
  background-color: #86ff98;
}

.login-container .login-prompt .login-prompt-bottom .prompt-form .color-input-and-button .create-button:hover {
  background-color: #61cf71;
}

.login-container .login-prompt .login-prompt-bottom .prompt-form .color-input-and-button .create-button:active {
  background-color: #49a056;
}

.login-container .login-prompt .login-prompt-bottom .prompt-form .color-input-and-button .close-button {
  background-color: #ff7979;
}

.login-container .login-prompt .login-prompt-bottom .prompt-form .color-input-and-button .close-button:hover {
  background-color: #cf6262;
}

.login-container .login-prompt .login-prompt-bottom .prompt-form .color-input-and-button .close-button:active {
  background-color: #883f3f;
}
/*# sourceMappingURL=home.css.map */